@use 'variables';

.movie__facts {
    display: flex;
    justify-content: center;

    padding: 0 6rem;
    height: 50vh;
    margin-top: 3rem;
    margin-bottom: 3rem;

    @media (min-width: 300px) and (max-width: 1080px) {
        height: 220vh;
    }


    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        color: variables.$mainColor;

        @media (min-width: 300px) and (max-width: 1080px) {
            flex-direction: column;
            gap: 2rem;
        }

        .list__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            max-width: 23rem;
            min-height: 25rem;
            max-height: 25rem;
            padding: 1rem;
            border-radius: 1rem;

            background-color: variables.$backgroundColor;

            @media (min-width: 300px) and (max-width: 1080px) {
                max-width: 23rem;
                min-width: 23rem;
            }

            img {
                width: 100%;
            }

            h3 {
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                font-size: 2rem;
            }

            span {
                width: 90%;
                text-align: center;
            }
        }
    }
}